@use './sass-variables.scss' as v;
@use './css-variables.scss';

html, body, #root {
  height: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, button, a, form {
  font-family: "Karla", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1em;
  color: var(--color-text);
}
#skiptocontent {
  
  a {
    padding: 6px;
    position: absolute;
    top: -40px;
    left: 0px;
    color: white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-bottom-right-radius: 8px;
    background: var(--color-theme-call-to-action);
    -webkit-transition: top .5s ease-out;
    transition: top .5s ease-out;
    z-index: 101;

    &:focus {
      position: absolute;
      left: 0px;
      top: 0px;
      outline-color: transparent;
      -webkit-transition: top .05s ease-in;
      transition: top .05s ease-in;
    }
  }
}


#root {
  overflow-x: hidden;
  position: relative;

    display: grid;
    grid-auto-columns: 100%;
    grid-template-areas:
        'header'
        'main'
        'footer';
}
#site-nav {
  grid-area: header;
}

#site-footer {
  grid-area: footer;
}
main {
  grid-area: main;
}

a {
  color: inherit;
  transition: background-color 0.3s;
}

label {
  cursor: pointer;
}

a:focus-visible, button:focus-visible {
  outline-offset: 5px;
}
nav a {
  &:focus {
    outline-offset: 5px;
  }
}
header a, footer a {
  text-decoration: none;
}
.title {
  font-family: 'Markazi Text', serif;
}
button {
  cursor: pointer;
  transition: background-color 0.3s;
}

.content.colored .title {
  color: var(--color-brand-primary-1);
}
.content.colored .text,
.content.colored .subtitle  {
  color: var(--color-text-invert);
}

.btn-page {
  font-size: 1.25rem;
  font-weight: 600;
  background-color: var(--color-component-button-bgr-v1);
  color: var(--color-component-button-text-v1);
  min-width: 205px;
  min-height: 60px;
  border: none;
  text-align: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 16px;

  &:hover,
  .btn-page:focus-visible {
    background-color: var(--color-component-button-hover-bgr-v1);
  }
  span {
    color: var(--base-grey-dark);
  }
  &:hover span, 
  &:focus-visible {
    color: var(--color-component-button-hover-text-v1);
  }
}

a.btn-page {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}



@media (max-width: v.$media_break_point_max) {
  
}

@media (min-width: v.$media_break_point_min) {
  
}