# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/app.css
src/app.css.map
src/sass/css-variables.css
src/sass/css-variables.css.map
src/sass/home.css
src/sass/home.css.map
src/sass/main.css
src/sass/main.css.map
src/sass/reserve-table.css
src/sass/partials/testimonials.css
src/sass/partials/testimonials.css.map
src/sass/partials/shortMenuBtn.css.map
src/sass/partials/shortMenuBtn.css
src/sass/partials/highlights.css.map
src/sass/partials/highlights.css
src/sass/partials/hero.css
src/sass/partials/hero.css.map
src/sass/partials/header.css
src/sass/partials/footer.css.map
src/sass/partials/footer.css
src/sass/partials/about.css.map
src/sass/partials/about.css
src/sass/sass-variables.css.map
src/sass/sass-variables.css
src/sass/reserve-table.css.map
src/sass/partials/header.css.map
